@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./quill.scss";

$--primary100: "#8B0000";
$--primary200: "#c2402a";
$--primary300: "#feded3";
$--accent100: "#FF6347";
$--accent200: "#8d0000";
$--text100: "#000000";
$--text200: "#565656";
$--bg100: "#E9E9E9";
$--bg200: "#dfdfdf";
$--bg300: "#b7b7b7";

//THESE ARE THE SAME
// $--darkPrimary100: "#8B0000";
// $--darkPrimary200: "#c2402a";
// $--darkPrimary300: "#feded3";
// $--darkAccent100: "#FF6347";
// $--darkAccent200: "#8d0000";
$--darkText100: "#FFFFFF";
$--darkText200: "#CCCCCC";
$--darkBg100: "#222222";
$--darkBg200: "#333333";
$--darkBg300: "#444444";

.input-container {
  @apply flex justify-between whitespace-nowrap;
}

.sfh-deal-analysis {
  label,
  input,
  select {
    @apply mt-2;
  }
}

main {
  @apply dark:text-bg300;

  input,
  select {
    @apply rounded-sm bg-bg200 px-1 py-px dark:bg-bg200 dark:text-black;
  }
}

nav {
  @apply bg-darkBg300 text-darkText100;
  height: 5vh;
  div {
    div,
    a {
      @apply flex items-center;
    }
  }
  .drop-down {
    top: 5vh;
  }
}
